server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5432/habittracker
spring.datasource.username=postgres
spring.datasource.password=YOUR_PASSWORD_HERE

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.open-in-view=false

# Get these values from your Asgardeo JWKS endpoint:
# https://api.asgardeo.io/t/YOUR_ORG/oauth2/jwks
asgardeo.jwk.n=YOUR_JWK_N_VALUE
asgardeo.jwk.e=AQAB
asgardeo.jwk.kid=YOUR_JWK_KID_VALUE