server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5432/habittracker
spring.datasource.username=postgres
spring.datasource.password=YOUR_PASSWORD_HERE

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.security.oauth2.resourceserver.jwt.issuer-uri=https://api.asgardeo.io/t/YOUR_ORG_NAME/oauth2/token